.language-selector {
    margin: 20px 0;
    opacity: 0;
    transform: translateY(25px);
    transition: transform .4s, opacity .2s;
    max-width: 100%;
    overflow: auto;
}
.animate-in.language-selector {
    opacity: 1;
    transform: translateY(0);
}
.languages {
    max-width: 100%;
    margin: 0 auto;
}
.language-selector .language-item, .projects .button {
    background-color: #fff;
    padding: 8px 14px;
    white-space: nowrap;
    border-radius: 120px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    color: #23272a;
    cursor: pointer;
    transition: box-shadow .2s;
}
.language-item:hover {
    box-shadow: 0 9px 11px rgb(0 0 0 / 10%);
}
.language-item.active, .projects .button {
    background-color: var(--primary-color);
    color: #fff;
}
.percentage {
    width: 100%;
}
.language-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.languages .language-row {
    opacity: 0;
    margin: 0 auto;
    background-color: rgb(52 235 138 / 48%);
    position: relative;
    border-radius: 30px;
}
.languages.animate-in .language-row {
    opacity: 1;
    animation: language-in 1s forwards ease-in-out;
}
.languages.animate-out .language-row {
    opacity: 1;
    animation: language-out 1s forwards ease-in-out;
    width: 100%;
    height: 100%;
}
.language-row .percentage {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}
.language-row .percentage, .percentage * {
    height: 100%;
    border-radius: 40px;
}
.increasing-percentage {
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transform: translateX(-70px);
    transition: transform .3s, opacity .1s;
    transition-delay: 700ms;
    opacity: 0;
}
.animate-in .increasing-percentage {
    transform: translateX(0);
    opacity: 1;
}
.percentage .bar {
    position: absolute;
}
.languages .filled {
    width: 0px;
    animation: in-width .6s ease-in-out forwards;
    height: 100%;
    background-color: rgb(52, 235, 138);
}
.animate-out .filled {
    animation: out-width .6s ease-in-out forwards !important;
    width: 100%;
}
@keyframes in-width {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes out-width {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}
.language-row .language {
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    z-index: 2;
    transition: transform .2s;
}
.animate-in .language {
    animation: scale-up-language .2s forwards;
}
.animate-out .language {
    transform: translateY(-50%) scale(1);
    animation: scale-down-language .2s forwards;
}
@keyframes scale-up-language {
    from {
        transform: translateY(-50%) scale(0);
    }
    to {
        transform: translateY(-50%) scale(1);
    }
}
@keyframes scale-down-language {
    from {
        transform: translateY(-50%) scale(1);
    }
    to {
        transform: translateY(-50%) scale(0);
    }
}
@keyframes language-in {
    0% {
        width: 30px;
        height: 0;
    }
    15% {
        height: 100%;
        width: 40px;
    }
    30% {
        height: 100%;
        width: 20px;
    }
    60% {
        height: 100%;
        width: 100%;
    }
    60% {
        width: 100%;
    }
    100% {
        height: 100%;
        width: 100%;
    }
}
@keyframes language-out {
    0% {
        height: 100%;
        width: 100;
    }
    15% {
        width: 104%;
        height: 100%;
    }
    60% {
        width: 40px;
        height: 100%;
    }
    75% {
        width: 55px;
        height: 100%;
    }
    85% {
        width: 0px;
        height: 100%;
    }
    100% {
        width: 0;
        height: 100%;
    }
}

.graph.animate-in {
    animation: animate-in .5s ease-in-out forwards;
    transform: scale(0);
}
.animate-out-graph .graph:nth-of-type(1) {
    animation: animate-out .5s ease-in-out forwards !important;
    transform: scale(1);
}
.animate-out-graph .graph:nth-of-type(2) {
    animation: animate-out .5s ease-in-out forwards !important;
    transform: scale(1);
    animation-delay: 150ms !important;
}
.animate-out-graph .graph:nth-of-type(3) {
    animation: animate-out .5s ease-in-out forwards !important;
    transform: scale(1);
    animation-delay: 300ms !important;
}
@keyframes animate-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes animate-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.graph {
    position: relative;
}
.graph-percent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

.circle-chart__circle {
    animation: circle-chart-fill 1s reverse; /* 1 */ 
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
}
.circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
}

.circle-chart__info {
    animation: circle-chart-appear 1s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}

@keyframes circle-chart-fill {
    to { stroke-dasharray: 0 200; }
}

@keyframes circle-chart-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.graph-text {
    position: absolute;
    bottom: -25px;
}
.graphs .graph {
    margin-right: 25px;
}

@media only screen and (max-width: 800px) {
    .language-selector {
        padding-left: 20px;
        padding-right: 20px;
        margin: 20px 0 30px 0 !important;
    }
    .language-container {
        margin-bottom: 30px !important;
    }
    .language {
        left: 10px !important;
        top: -25px!important;
    }
    .languages {
        max-width: 90%;
    }
}