.section {
    padding: 50px 0;
}
.section-title h3 {
    font-size: 30px;
}
.section-content {
    margin: 0 auto;
    max-width: 100%;
}

.animate {
    transition: opacity, transform;
    opacity: 0;
}
.animate.up {
    transform: translateY(12px);
}
.animate-in:not(.graph) {
    opacity: 1;
    transform: translate(0) !important;
}

.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}